<div class="container">
  <h1 id="titulo">Cadastre seu Fabricante </h1>
  {{model.fabricante}}
 
  <form (ngSubmit)="save()" #newFabricante="ngForm">
    <div class="form-fabricante">

      

      <label for="formGroupExampleInput">Nome do Fabricante</label>
      <input autocomplete="off" required type="text" name="nomeFab" #name="ngModel" [(ngModel)]="model.nomeFabricante" class="form-control" id="formGroupExampleInput"
        required placeholder="Informe fabricante" >
    </div>
  
    <button type="submit" class="btn btn-outline-secondary" bind-disabled="!name.valid">Cadastrar</button>
  </form>
    

  <div class="tabelaFabricante">
    <table class="table table-sm table-dark">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nome do Fabricante</th>
        <th scope="col">Ação</th>
      </tr>
      <tbody>
        <tr *ngFor="let item of fabricante">
          <th scope="row">{{item.codigo}} </th>
          <td>{{item.nomeFabricante}} </td>

          <!-- <button type="button" routerLink="/telaAlterar/{{item.codigo}}" class="btn btn-secondary" (click)="updateActive(item.codigo)">Alterar</button> -->
          <button type="button" routerLink="/telaAlterar/{{item.codigo}}" class="btn btn-secondary">Alterar</button>

          <button class="btn btn-secondary" (click)="deleteFabricante(item.codigo)">Excluir</button>
        </tr>


      </tbody>
    </table>
    <div class="btn-Home">
      <button type="button" [routerLink]="['/telaInicia']" class="btn btn-outline-secondary">Home</button>
    </div>
  </div>
</div>